---
author: "Arif Qodari"
date: "2022-12-13"
categories: [pandas, TIL]
format:
  html:
    code-fold: true
---

# Pandas Number Formatting

In many cases we need to apply different number formatting to different columns.
One column might need to use currency format, while the other need to use percent format.

In this case, Pandas has `Styler.format` feature to do this ([ref](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.format.html)). 
We just need to define the formatting function for columns we want to apply on using dictionary where each key represents column name and the value represents formatting function.

Here is the example.

In [2]:
#| echo: false


import pandas as pd

Let's use this sample data.

In [3]:
df = pd.read_csv("https://gist.githubusercontent.com/arifqodari/08692800e902401860c7ab4f94c2390c/raw/8e6e4e5c85ab091d6ac21801c2fe02fa6dd1fc77/sales_dummy.csv")
df

         date  total_sales   revenue      rate
0  2023-01-01          923  10400500  0.046723
1  2023-01-02         1104  11299050  0.050123
2  2023-01-03          987  10904500  0.040111

Next, we can define and apply the formatting function.

In [12]:
#| code-fold: false


format_mapping = {
    "revenue": "{:,} IDR",
    "rate": "{:,.2%}"
}

df.style.format(format_mapping)

Neat!

The script above only apply formatting to certain columns defined in the `format_mapping` dictionary.
Here is the explanation:

- revenue column needs thousand separator using comma (,)
- rate column need to be presented as percentage.

    Note that the original value is not in the percentage yet.